{% extends 'base.html' %}

{% block texto_encabezado %}Tu lista de tareas{% endblock texto_encabezado %}

{% block form_action %}{% url 'view_lista' lista.id %}{% endblock form_action %}

{% block tabla %}
<table id="id_tabla_lista" class="table">
  {% for item in lista.item_set.all %}
  <tr><td>{{ forloop.counter }}: {{ item.texto }}</td></tr>
  {% endfor %}
</table>
<form action="{% url 'compartir_lista' lista.id %}" method="post">
  <input type="email" name="sharee" placeholder="su-amigo@ejemploc.com">
  {% csrf_token %}
</form>
<h2>Dueño lista</h2>
<div id="id_duenio_lista">{{ lista.duenio.email }}</div>
<h2>Compartida con</h2>
<ul>
  {% for usuario in lista.compartida_con.all %}
  <li class="list-sharee">{{ usuario.email }}</li>
  {% endfor %}
</ul>
{% endblock tabla %}
